.login-page
  display: flex
  flex-direction: column
  padding: 0 20px

.phone-caption
  font-size: 13px
  color: $secondary-color

.login-form
  width: 260px
  margin: auto

.phone-input
  padding: 0 0 10px 15px

.login-phone-group
  margin-top: 30px

.login-form-btn
  margin-top: 30px